.message {
    width: 95%;
    padding: 0.25em;
    border: 0.1px solid #000;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.8em;
}

.success {
    color: #000000;
    background-color: #B4FF71;
    border-color: #c3e6cb;
    font-weight: bold;
    font-size: 1.3em;
}

.error{
    color: #ffffff;
    background-color: #FF7C7C;
    border-color: #f5c6cb;
    font-weight: bold;
    font-size: 1.3em;
}