.navbar {
    display: flex;
    background-color: #8e22bb;
    justify-content: flex-end;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
}

.title {
    color: white;
    font-size: 3em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 2em;
}

.item a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
}

.item a:hover{
    color: #e5e059;
}

.status {
    font-weight: normal;
    padding: 0.5em;
    align-items: center;
}
